/*font Variables*/
$primary-font: 'Roboto', sans-serif;

/*Color Variables*/
$primary-color  : black;
$primary-color2 : gray;
$title-color    : black;
$text-color     : #797979;
$offwhite       : #f8faff;
$white          : #fff;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
