name: Daily project check

on:
  schedule:
    # build runs everyday at 6AM UTC
    - cron: '0 6 * * *'

jobs:
  build:
    
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        npm install
        npm run clearCache
        npm run build
      env:
        CI: true
